.sponsorWrapper {
  padding: '146px 0 181px 0';
}
.title {
  font-size: 80px;
  font-family: Trebuchet-BoldItalic, Trebuchet;
  font-weight: normal;
  color: #ffffff;
  line-height: 93px;
}
.info {
  font-size: 24px;
  font-family: Arial-Black, Arial;
  font-weight: 900;
  color: #ffffff;
  line-height: 33px;
  padding: '60px 0';
}
.Member {
  font-size: 36px;
  font-family: TrebuchetMS-Bold, TrebuchetMS;
  font-weight: bold;
  color: #10062f;
  line-height: 42px;
}
.info {
  font-size: 18px;
  font-family: ArialMT;
  color: #10062f;
  font-weight: normal;
  line-height: 28px;
  padding-top: 43px;
  padding-bottom: 94px;
}
.included {
  font-size: 22px;
  font-family: Arial-Black, Arial;
  font-weight: 900;
  color: #7ebad3;
  line-height: 31px;
  padding-bottom: 36px;
}
.Content {
  font-size: 22px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: #10062f;
  line-height: 26px;
  padding-bottom: 29px;
}
.Merch,
.Community,
.Access {
  font-size: 22px;
  font-family: ArialMT;
  color: #10062f;
  line-height: 26px;
  padding-bottom: 29px;
}
