.img1 {
  width: 79px;
  height: 85px;
  position: absolute;
  left: -141px;
  top: -262px;
}
.img2 {
  width: 101px;
  height: 102px;
  position: absolute;
  left: 32px;
  top: -94px;
}
.img3 {
  width: 105px;
  height: 57px;
  position: absolute;
  left: -175px;
  top: -33px;
}
.img4 {
  width: 90px;
  height: 61px;
  position: absolute;
  left: -70px;
  top: 150px;
}
.img5 {
  width: 81px;
  height: 64px;
  position: absolute;
  left: -77px;
  top: -219px;
}
.img6 {
  width: 100px;
  height: 68px;
  position: absolute;
  left: -28px;
  top: -129px;
}
.img7 {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 100px;
  top: -48px;
}
.img8 {
  width: 105px;
  height: 61px;
  position: absolute;
  left: -4px;
  top: 140px;
}
